.coin-name {
    font-weight: bold;
    font-size: larger;
    color: #720808;
}

.coin-info {
    color: #813e3e;
    font-weight: bold;
}

.coin-header {
    color: #720808;
    font-weight: bold;
}

.coin-card {
    border: none;
}
